.container {
    max-width: 1366px;
    margin: 0 auto;
}

.adminPage {
    display: flex;
    flex-wrap: wrap;
}

.adminPageLeft {
    background: #363740;
    width: 20%;
    height: 649px;
    position: sticky;
    top: 0;
}

.adminPageRight {
    width: 80%;
    padding: 0 33px;
}
