.secondPageTopDesserts {
    margin-bottom: 50px;
}

.secondPageTopDessertsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.secondPageDessertsItem {
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    position: relative;
    padding: 15px;
    margin-bottom: 80px;
    /*width: 264px;*/
    /*height: 400px;*/
    padding: 10px 20px 20px 20px;
}

.secondPageDessertsItem:hover {
    transform: scale(1.05);
}

.secondPageDessertsImg {
    text-align: center;
    position: relative;
    content: "";
    top: -70px;
}

.secondPageDessertsName {
    margin-top: -50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #2B4241;
    margin-bottom: 20px;
    text-align: center;
}

.secondPageDessertsDescription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #2B4241;
    margin-bottom: 10px;
    max-width: 231px;
    text-align: center;
}

.secondPageDessertsPrice {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #2B4241;
    text-align: center;
    margin-bottom: 10px;
}

.secondPageDessertsButton button {
    color: red;
    border: none;
    font-size: 30px;
    background: none;
}

.secondPageDessertsButton {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.secondPageDessertsBtnBundle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 55px;
    border: none;
    background: #FF583E;
    border-radius: 40px;
}

.secondPageDessertsBundle {
    text-align: center;
}

.secondPageDessertsCount {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2B4241;
}

.secondPageDessertsCount {
    display: flex;
    align-items: center;
}

.secondPageDessertsBtnMinus {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 0;
}

.secondPageDessertsBtnPlus {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 0;
}

.desserts {
    width: 200px;
    height: 160px;
}