.adminPageLeftTitle {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #A4A6B3;
    opacity: 0.7;
    position: relative;
    padding: 30px 60px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.adminPageLeftTitle::before {
    position: absolute;
    content: url("../../../../Assets/img/admin.png");
    top: 30%;
    left: 7.5%;
}

.adminPageMidItems li {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
    padding: 25px 20px;
    position: relative;
}

li svg {
    margin-right: 25px;
}

.active {
    text-decoration: none;
}

.adminPageMidItems a:focus::before {
    position: absolute;
    content: "";
    top: 15%;
    left: 0;
    background: #9FA2B4;
    width: 100%;
    height: 50px;
    opacity: 0.08;
}

.adminPageMidItems a:focus::after {
    position: absolute;
    content: "";
    background: #DDE2FF;
    width: 3px;
    height: 50px;
    top: 11px;
    left: 0;
}

.adminPageMidItems a:focus {
    color: #DDE2FF;
}

.adminPageMidItems a:focus path {
    fill: #DDE2FF;
    opacity: 1;
}

.adminPageRight {
    width: 80%;
    padding: 33px;
}

.adminPageRightTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.adminPageRightTopRight {
    display: flex;
    justify-content: flex-end;
}

.adminPageRightTopLeft {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
}

.adminPageRightTopRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.adminPageRightTopRight div {
    margin-right: 40px;
}

.adminPageRightTopRightUser {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #252733;
    position: relative;
}

.adminPageRightTopRightUser::before {
    position: absolute;
    content: "";
    height: 35px;
    border: 1px solid #DFE0EB;
    top: -25%;
    left: -17%;
}

.ava {
    position: absolute;
    top: -40%;
    right: -55%;
    border-radius: 50%;
}

.adminPageRightMid {
    margin-top: 50px;
}



